<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <title>{% block title %}{% endblock %}</title>
{% endblock %}
</head>
<body>
{% if not view.logged_in %}
  <a href="{{ request.application_url }}/login">Log In</a>
{% else %}
  <a href="{{ request.application_url }}/logout">Logout</a>
hello
{% endif %}
<h1>Wiki</h1>
{% block content %}{% endblock %}
</body>
</html>
