<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <title>{% block title %}{% endblock %}</title>
{% endblock %}
</head>
<body>
<h1>Wiki</h1>
{% block content %}{% endblock %}
</body>
</html>
