{% extends "base.jinja2" %}
{% block title %}Wiki: View{% endblock %}
{% block content %}
<a href="{{ request.route_url('wikipage_add') }}">Add
    WikiPage</a>
<ul>
    {% for page in pages %}
        <li><a href="{{ request.route_url('wikipage_view', uid=page.uid) }}">
                {{ page.title }}
        </a></li>
    {% endfor %}
</ul>
{% endblock %}
